<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "MainSuite">
    <test name = "Unique tests">
        <classes>
            <class name="DefaultTest" />
            <class name="OfflineTest"/>
        </classes>
    </test>

    <test name="Default Test with Unlocking">
        <parameter name="testLocking" value="true"/>
        <classes>
            <class name="DefaultTest"/>
        </classes>
    </test>

    <test name="Default Test with Suspending">
        <parameter name="testSuspending" value="true"/>
        <classes>
            <class name="DefaultTest"/>
        </classes>
    </test>

</suite>